My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d2e83fc7-9f81-45ac-b197-fe7a3ce0664e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=Artificial+Intelligence&language=en&sortBy=publishedAt&pageSize=5&apiKey=YOUR_NEWSAPI_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "4f65fd37-1fa8-476d-9695-a80de313ad24",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles;\n\nlet text = \"\";\n\narticles.slice(0, 5).forEach((article, index) => {\n\n    text += `📰 Article ${index + 1}\\n`;\n    text += `Title: ${article.title}\\n`;\n    text += `Source: ${article.source.name}\\n`;\n\n    if (article.description) {\n        text += `Description: ${article.description}\\n`;\n    }\n\n    text += `Published: ${article.publishedAt}\\n`;\n    text += `URL: ${article.url}\\n\\n`;\n});\n\nreturn [\n    {\n        json: {\n            news: text\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d690289d-fbe1-44e6-8c96-0038c4fb389d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI news editor.\n\nSummarize the following AI news into exactly 5 bullet points.\n\nRules:\n- Mention company names.\n- Explain why the news matters.\n- Keep each bullet under 35 words.\n- Use simple English.\n- Add suitable emojis.\n- Do not include URLs.\n\nNews:\n\n{{$json.news}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        64
      ],
      "id": "0026b25f-a317-4957-9cd3-dbce4ee1e379",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        784,
        224
      ],
      "id": "78b0151e-8336-4ac4-b958-bb5da9cd7d1a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_API_CREDENTIALS_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "=None"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        64
      ],
      "id": "8eeabd74-0ed8-452b-b400-fedc2784bf2a",
      "name": "Send a text message",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIALS_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": null,
  "tags": []
}